.banner {
    position: relative;
    padding: 230px 0 120px 0;
    background: url(../assets/img/1f28455e8631013779af00759a83cce7.jpg) no-repeat center/cover;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(37, 43, 73, 0.8);
    }

    &__title {
        color: $white;
        font-size: $h1;
        font-weight: 900;
        line-height: 75px;
        text-align: center;
        text-transform: uppercase;
    }

    &__text {
        padding: 31px 0 80px 0;
        color: $white;
        font-size: $card-title;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
}

.banner-container {
    @extend %container;

    position: relative;
    z-index: 2;
    flex-direction: column;
    align-items: center;
}

.banner__btn {
    display: flex;
    justify-content: center;
    padding: 26px 0;
    width: 370px;
    background: $red;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: rgb(231, 20, 20);
    }

    a {
        color: $white;
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        text-transform: uppercase; 
    }
}

@media (max-width:1250px) {
    .banner {
        padding: 257px 0 126px 0;

        &__title {
            font-size: $h1-tablet;
            line-height: 56px;
        }

        &__text {
            font-size: $card-title-tablet;
            line-height: 21px;
            padding: 62px 0 90px 0;
        }
    }

    .banner__btn {
        max-width: 314px;
    }
}

@media (max-width:670px) {
    .banner {
        padding: 106px 0 52px 0;

        &__title {
            font-size: $h1-mobile;
            line-height: 42px;
        }

        &__text {
            font-size: $card-title-mobile;
            line-height: 16px;
            padding: 32px 0 50px 0;
        }

        &__btn {
            width: 100%;
        }
    }

     
}