$red: rgb(255, 67, 67);
$white: rgb(255, 255, 255);
$light-grey: rgb(186, 187, 197);
$dark-grey: rgb(108, 114, 121);

$h1: 64px;
$h1-tablet: 48px;
$h1-mobile: 36px;
$card-title: 24px;
$card-title-tablet: 18px;
$card-title-mobile: 14px;
$card-text: 18px;
$card-text-tablet: 14px;
$nav: 13px;
$nav-tablet: 12px;

